.App {
  text-align:center;
}

.App-logo {
  position: relative;
  top: -30px;
  height: 25vmin;
  cursor: pointer;
  clip-path: circle();
}

.App-link {
  color: #000;
  text-decoration: none;
}

.button{
  background-color: transparent;
  border-color: #000;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  display: inline-flex;
  font-size: 20px;
  cursor: pointer;
  transition: 0.6s;
}

.button:hover {
  background-color: #23A6D5;
}

.neve_cadente{
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  background: linear-gradient(-45deg, #23D5AB, #23A6D5, #E73C7E, #EE7752);
  background-size: cover;
  background-position: center bottom;
  position: relative;
  overflow: hidden;
}
.snow,.snow::after,.snow::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent);
   background-image: radial-gradient(6px 6px at 200px 150px, #fff, transparent);
   background-image: radial-gradient(3px 3px at 300px 250px, #fff, transparent);
   background-image: radial-gradient(4px 4px at 400px 350px, #fff, transparent);
   background-image: radial-gradient(6px 6px at 500px 100px, #fff, transparent);
   background-image: radial-gradient(3px 3px at 50px 200px, #fff, transparent);
   background-image: radial-gradient(4px 4px at 150px 300px, #fff, transparent);
   background-image: radial-gradient(6px 6px at 250px 400px, #fff, transparent);
   background-image: radial-gradient(3px 3px at 350px 500px, #fff, transparent);

}